html, body {
  height: 300px;
  width: 570px;
}

body {
  margin: 20px;
  background-color: rgb(107, 174, 233);
}

img {
	vertical-align: middle;
}

input {
  display: inline; 
  border-style: none; 
  border-bottom-style: solid;
}

button {
  height: 30px;
  width: auto;
  outline: none;
  border: none;
  border-radius: 2px;
}